Datatypes:

Define a variable my_integer with the value 42.Create a variable my_float with the value 3.14.Declare a variable my_string with the value "Hello,Python!".Print the type of each variable.

In [ ]:
my_integer = 42
my_float = 3.14
my_string = "Hello,Python!"

print(my_integer, type(my_integer))
print(my_float, type(my_float))
print(my_string, type(my_string))

42 <class 'int'>
3.14 <class 'float'>
Hello,Python! <class 'str'>

Operators:

Implement a program that calculates the area of a rectangle.Take the length and width as input from the user.

In [ ]:
length = int(input("Enter the length of the rectangle: "))
width = int(input("Enter the width of the rectangle: "))

area = length * width

print("The area of the rectangle is:", area)

Enter the length of the rectangle: 12
Enter the width of the rectangle: 6
The area of the rectangle is: 72

Use the modulus operator to find the remainder when dividing 15 by 4.

In [ ]:
a = 15
b = 4

print(a % b)

3

Conditional Programming:

Write a program that creates if a number is positive,negativeor zero.

In [1]:
number = float(input("Enter a number"))

if(number > 0):
  print("number is positive")
elif(number < 0):
  print("number is negative")
else:
  print("number is zero")

Enter a number4
number is positive

Implement a program that determines if a given yera is a leap year.

In [ ]:
year = int(input("Enter the year"))

if(year % 4 == 0):
  print("The year is a leap year")
else:
  print("The year is not a leap year")

Enter the year2000
The year is a leap year

Loops(while & for):

Use a while loop to print the square of numbers from 1 to 5.

In [4]:
i = 1
while i <= 5:
  print(i**2)
  i = i + 1

1
4
9
16
25

Use a for lopp to print each character of the string "python".

In [ ]:
string_name = "python"

for element in range(0, len(string_name)):
  print(string_name[element])

p
y
t
h
o
n

Args and Kwargs:

Create a function add_numbers that takes any number of arguments and returns their sum.

In [5]:
def add_numbers(*args):
  return sum(args)

In [8]:
add_numbers(10,20,30,46)

106

Define a function print_info that takes any number of keywords arguments and prints them.

In [ ]:
def print_info(**kwargs):
  details = {}
  for key,val in kwargs.items():
    details[key] = val
  print(details)

In [ ]:
print_info(name = "Prgathi" , age = 20 , email = 'rangapragathi2003@gmail.com' , city = "Hyderabad")

{'name': 'Prgathi', 'age': 20, 'email': 'rangapragathi2003@gmail.com', 'city': 'Hyderabad'}

Lambda Function:

Write a lambda function to calculate the square of a number.

In [ ]:
square_num = lambda x : x**2
square_num(2)

4

Create a list of numbers and use the lambda function with the map function to get a list of their squares.

In [ ]:
list_numbers = [2,4,6,8]

squarenum = list(map(lambda num : num**2 , list_numbers))

print(squarenum)

[4, 16, 36, 64]

Map Function:

Define a function double that takes a number as input and returns its double.

In [17]:
double = input("Enter a number")

def double(number):
    return number*2

Enter a number2

In [19]:
list(map(double,[2]))

[4]

Use the map function to double each elememt in a list of numbers.

In [ ]:
list_numbers = [1,2,3,4,5,6,7,8]

In [ ]:
number = [1,3,5,7,9,11]

double = list(map(lambda x: x * 2 , number))

result = double

print(f"The double of {number} is: {result}")

The double of [1, 3, 5, 7, 9, 11] is: [2, 6, 10, 14, 18, 22]

Filter Function:

Create a list of numbers and use the filter function to get only the even numbers.

In [23]:
numbers = [1,2,3,4,5]
even_numbers = list(filter(lambda x : x % 2 == 0 , numbers))


print(even_numbers)

[2, 4]

Define a function is_prime to check if a number is prime.

In [26]:
 def is_prime(number):
     if number < 2:
        return False
     for i in range(2, int(number**0.5) + 1):
        if number % i == 0:
          return False
     return True

In [29]:
is_prime(2)

True

Use filter to get a list of prime numbers from another list.

In [31]:
numbers = [1,2,3,4,5,6,7,8,9,10]
prime_numbers = list(filter(is_prime,numbers))

print(prime_numbers)

[2, 3, 5, 7]

All and Any:

Write a program using all to check if all elements ina list are integers.

In [39]:
def check_integers(lst):
  return all(isinstance(element,int) for element in lst)

numbers = [1,2,3,4,5]
result = check_integers(numbers)

print(result)

True

Implement a program using any to check if any srting in a list is no longer than 8 characters.

In [32]:
strings = ["chandrashekar","lakshmi","prashanth","pragathi","kaveri"]

if any(len(string)> 8 for string in strings):
  print("At least one string is longer than 8 characters.")
else:
  print("No string is longer than 8 characters.")

At least one string is longer than 8 characters.